*{
    margin: 0;
    padding: 0;
    border:none;
}
.wrapper-1, .wrapper-2{
    margin: 0 0 0 10%;
    height: 100%;
    width:80%;
    background-color: brown;
}
/* main title/heading to website index page*/
#welcome-heading{
    float: left;
    margin: 2% 0 0 0%;
    color: #fff;
}
/* This is the logo section */
.logos{
    width: 100%;
    height: 100px;
    margin: 0;
    background-color: aqua;
}
.logos a{
    margin: 0 auto;
    display:inline-block;
}
#uni-logo{
    margin: 2.5% 10% 0 0;
    height:90px;
    width: 150px;
    background-color: yellow;
}
#welcome-heading{
    margin: 3.5% 10% 0 0;
}
/*This is the header/hero-image section*/
header{
    padding:0 10%;
    background-color: black;
    }
#hero-outer{
    width:100%;
    margin: 0 auto;
    background-color: aqua;
}
#hero-image{
    height:250px;
    width:inherit;
    overflow: hidden;
    background: url(/assets/images/hollywood-monsters.jpg.png) no-repeat;
    background-color: blueviolet;
}
/* main navigation for website */
nav{
margin: 0 auto;
height:30px;
width:100%;
background-color: #3a3a3a;
position: center;
padding: 0;
}
nav ul {
    height: 20px;
    width:50%;
    background-color:olivedrab;
    margin: 0 0 0 25%;
    
}
nav ul li{
    height: 20px;
    width:70px;
    display: inline-block;
    padding: 4px 5%;
    border-left: 2px solid #fff;
    color: #fff;
    background-color: red;
    text-align:center;
}
#franky{
    margin-right: 4px;
}
/* main website content */
/* About section columns*/
main{
    background-color: aquamarine;
}
section{
    margin: 0 auto;
    height: 200px;
    background-color: #fff;
}
.part1{
    margin: 0 0 10% 0;
    padding: 0;
    clear:both;
    background-color: pink;
}
.part1 >.column-3{
    height:220px;
    margin: 0;
    width:100%;
    background-color: orange;
    clear:both;
    border-bottom: 2px solid #3a3a3a;
}
.part2, .part3, .part4 {
    margin: 0 0 10% 0;
    padding: 1% 0 0 0;
    clear:both;
    background-color: pink;
}

.column-3{
    height:250px;
    margin: 0;
    width:100%;
    background-color: orange;
    border-bottom: 2px solid #3a3a3a;
}
.column-3 > div{
 height: 200px;
 width: 33%;
background-color: black;
}
/* 2 column section */
.column-2{
    height: 400px;
    margin: 0;
    width:100%;
    background-color: rebeccapurple;
}
.column-2 > div{
    width: 49.8%;
    display:inline-block;
    margin: 0;
    background-color: aqua;
}
#box-left{
    float:left;
    margin: 0;
    height: 200px;
    width: 33.3%;
    padding: 0;
    text-align: center;
    background-color: rgb(71, 255, 102);
}
#box-right{
    float:left;
    margin: 0;
    height: 200px;
    width: 33.3%;
    padding: 0;
    text-align: center;
    background-color: rgb(255, 71, 184);
}
#box-center{
    float:left;
    height: 200px;
    width:33.3%;
    margin-left:0;
    padding: 0;
    text-align: center;
    background-color: rgb(21, 4, 100);
}
.text-box{
    height: 150px;
    width: 90%;
    color: #3a3a3a;
    background-color: black;
}
.text-box-left{
    margin: 35px 0px 35px 35px ;
    border-right: 2px solid #3a3a3a;
    text-align: left;
}
.text-box-right{
    margin: 35px 0px 35px 0px ;
    border-left: 2px solid #3a3a3a;
    text-align: right;
}
.text-box-center{
    margin: 35px 0px 35px 0px ;
    border-left: 2px solid #3a3a3a;
}
/* mini split columns*/
.left-split{
    float: left;
    height: 200px;
    width: 50%;
    border-right:2px solid #3a3a3a;
    background-color: rgb(20, 10, 168);
}
.right-split{
    float: right;
    height: 200px;
    width: 50%;
    border-left:2px solid #3a3a3a;
    background-color: rgb(95, 141, 98);
}
.mini-left{
    height: 200px;
    float:left;
    width:49.8%;
    position:relative;
    left:0;
    padding: 0 -2px 0 -2px;
    text-align: center;
    background-color: red;
}
.mini-right{
    height: 200px;
    float: right;
    width:49.8%;
    position:relative;
    right:0;
    padding: 0 -2px 0 -2px;
    text-align: center;
    background-color: rgb(61, 12, 141);
}
/* footer section of website*/
footer{
    clear: both;
    height:40px;
    width:100%;
background-color: #3a3a3a;
margin: 10% 0 5% 0;
padding: 0;
position: relative;
bottom: auto;
}
footer > div{
    margin: 0;
    width: 33.3%;
    float:left;
    display: inline-block;
    border-right: 2px solid #fff;
    padding: 1px;
    background-color: goldenrod;
}
.ft-right{
    width: 32%;
    float:right;
    border: none;
}
.ft-left{
    width: 33%;
    float:left;
    
}
.ft-center{
    width: 32%;
    padding:0 0 0 1.2%;
}
footer ul{
    margin: auto;
    height:50px;
    width:100%;
    color: #fff;
    text-decoration: none;
    background-color: rgb(197, 28, 169);
}
footer ul li{
    margin: auto;
    height:50px;
    width: 23%;
    display:inline-block;
    color: #fff;
    text-decoration: none;
    margin: 0 auto;
    background-color: blue;
}

