*{
    margin: 0;
    padding: 0;
    border:none;
}
/* main title/heading to website index page*/
header{
    width: 100%;
    height:400px;
    padding:0;
    background-color: black;
}
.welcome-main > h2{
color:blue;
}
.drac-main h2{
    color: red;
    }
/* header content */
/* main title of the page and thier alternatives*/
.Title-container{
    height:100px;
    width:80%;
    margin: 0 0 0 10%;
    padding: 0;
    background-color: blue;
}
.Title-container > div{
display:inline-block;
}
.Title-box{
    float: left;
    height:100px;
    width:50%;
    margin: 0 0 0 0;
    background-color: aqua;
    font-size: large;
    font-family: sans-serif;
    padding: 0 0 0 0;
    
}
#Title{
   margin:0 0 0 0 ;
   padding: 10% 0 0 0;
    background-color: black;
    color:red;
}
#Bela-1-heading{
    margin: 3.5% 10% 0 0;
color:red;
}
#Bela-2-heading{
color: #3a3a3a;
}
/* This is the logo section */
.logo-container{
    height:100px;
    width:50%;
    margin: 0 0 0 0;
    background-color:red;
    font-size: large;
    font-family: sans-serif;
    padding: 0% 0 0 0;
}
.logo1{
    float:right;
    margin: 4% 0 0 0;
    height:80px;
    width:160px;
    background-color: pink;
}
.logo1 img{
    height:80px;
    width:160;
    background-color: yellow;
}
/*This is the header/hero-image section*/
.hero-container{
    height:300px;
    width:100%;
    background-color: yellow;
}
.hero-box{
    margin: 0 0 0 10%;
    height: 300px;
    width: 80%;
}
.cover{
    height: 100%;
    width:100%;
    float:left;
    opacity: 6;
    background-color: yellow;
}
#hero-image{
    overflow: hidden;
    height: 300px;
    width: 100%;
}
#hero-image img{
    height:300px;
    width:1200px;
}
/* main navigation for website */
nav{
    margin: 0 0 0 10%;
    height:30px;
    width:80%;
    background-color: #3a3a3a;
    padding: 0;
}
.nav-box{
    float: left;
    height:30px;
    width: 80%;
    background-color: gold;
    position: center;
    padding: 0
}
nav ul {
    float: left;
    height: 30px;
    width:100%;
    background-color:olivedrab;
    margin: 0 0 0 20%;
        
}
nav ul li{
        height: 18px;
        width:15%;
        margin: 3px 0;
        display: inline-block;
        padding: 0 2% 0 2%;
        border-right: 2px solid #fff;
        color: #fff;
        background-color:red;
        text-align:center;
}
#nav-right{
    border-right: none;
}
nav ul li a{
    text-decoration: none;
    color:#fff;
}
nav ul li a:hover{
    text-decoration: none;
    color:red;
}
/* main website content */
/* About section columns*/
main{
    float: left;
    margin: 0 0 0 10%;
    width: 80%;
    background-color: aquamarine;
}
.part1{
    height: 250px;
    width: 100%;
    background-color: pink;
}
.part2, .part3, .part4 {
    height: 400px;
    width: 100%;
    background-color: red;
}
.box-container1{
    height:100%;
    width:100%;
    margin: 0;
    background-color: orange;
    border-bottom: 2px solid #3a3a3a;
}
/* 2 column section */
.box1{
    float: left;
    height: 100%;
    width: 33.33%;
    background-color:purple;
}
.box2{   
    float: left; 
    height: 100%;
    width: 47%;
    padding: 6% 0 0 3%;
    background-color:rgb(12, 182, 55);
}
.box3{
    float: left;
    height: 95%;
    width: 100%;
    background-color:yellow;;
}
.box4{
    float: left;
    height: 100%;
    width: 41%;
    background-color:rgb(31, 163, 196);
    border-right:1px solid #3a3a3a ;
    padding: 0 0 0 5%;
}
.top-text-left{
    float:left;
    margin: 0 0 0 10%;
    height: 200px;
    width: 90%;
    padding: 10px 0 0 0;
    background-color: rgb(71, 255, 102);
}
.top-text-right{
    float:left;
    margin: 0 10% 0 0;
    height: 200px;
    width: 90%;
    padding: 10px 0 0 0;
    text-align: center;
    text-align: left;
    background-color: rgb(52, 14, 155);
}
.top-text-center{
    float:left;
    margin: 0;
    height: 200px;
    width: 100%;
    padding: 10px 0 0 0;
    text-align: center;
    text-align: left;
    background-color: rgb(21, 4, 100);
}
.text-left{
    float:left;
    margin: 0 0 0 10%;
    height: 350px;
    width: 90%;
    padding: 10px 0 0 0;
    background-color: rgb(71, 255, 102);
}
.text-right{
    float:left;
    margin: 0 10% 0 0;
    height: 350px;
    width: 90%;
    padding: 10px 0 0 0;
    text-align: center;
    text-align: left;
    background-color: rgb(52, 14, 155);
}
.text-center{
    float:left;
    margin: 0 0 0 0;
    height: 350px;
    width: 100%;
    padding: 10px 0 0 0;
    text-align: center;
    text-align: left;
    background-color: rgb(21, 4, 100);
}
/*.text-box{
    height: 150px;
    width: 90%;
    color: #3a3a3a;
    background-color: black;
}
.text-box-left{
    margin: 35px 0px 35px 35px ;
    border-right: 2px solid #3a3a3a;
    text-align: left;
}
.text-box-right{
    margin: 35px 0px 35px 0px ;
    border-left: 2px solid #3a3a3a;
    text-align: right;
}
.text-box-center{
    margin: 35px 0px 35px 0px ;
    border-left: 2px solid #3a3a3a;
}*/
/* mini split columns*/
/* footer section of website*/
.foot-container{
    height:200px;
    width:100%;
    margin: 0;
    background-color: rgb(19, 7, 185);
    border-top: 2px solid #3a3a3a;
}
.foot-left{
    float:left;
    margin: 0 0 0 10%;
    height: 200px;
    width: 90%;
    padding:0;
    background-color: rgb(71, 255, 102);
}
.foot-right{
    float:left;
    margin: 0 10% 0 0;
    height: 200px;
    width: 90%;
    padding:0;
    text-align: center;
    text-align: left;
    background-color: rgb(52, 14, 155);
}
.foot-center{
    float:left;
    margin: 0 0 0 0;
    height: 200px;
    width: 100%;
    padding:0;
    text-align: center;
    text-align: left;
    background-color: rgb(21, 4, 100);
}

footer{
    float: left;
    height: 200px;
    width: 100%;
}
.link-container{
margin: 20px 0 0 0;
height: 80%;
width: 100%;
background-color: pink;
}
.link-box{
    overflow: hidden;
    margin: 0 0 0 3%;
    float: left;
    height: 60px;
    width: 60px;
    border: 2px solid #3a3a3a;
    border-radius: 50%;
}
#left-link{
    margin-left: 7%;
}
#face{
    font-size: 200%;
    margin:24% 0 0 33%;
    height: 100%;
    width: 100%;
    color:#3a3a3a;
    background-color: yellow;

}
#twitt{
    font-size:200%;
    margin:24% 0 0 24%;
    height: 100%;
    width: 100%;
    color:#3a3a3a;
    background-color: yellow;
}
#tube{
    font-size:240%;
    margin:20% 0 0 15%;
    height: 100%;
    width: 100%;
    color:#3a3a3a;
    background-color: yellow;
}
#gram{
    font-size:260%;
    margin: 17% 0 0 20%;
    height: 100%;
    width: 100%;
    color:#3a3a3a;
    background-color: yellow;
}
/*#right-link{
    margin-left:;
}*/

