/* This is the logo section */
.logos{
    width: 150px;
    height: 100px;
    background-color: aqua;
    display: inline-block;
}
#main-logo{
height:100px;
width: 100%;
position: relative;
background-color: yellow;
}
#uni-logo{
    height:100px;
    width: 100%;
    position: relative;
    background-color: yellow;
}
/*This is the header/hero-image section*/
#hero-outer{
    height: 600px;
    width:75%;
    overflow: hidden;
    position:relative;
}
#hero-image{
    height: 600px;
    width:100%;
    background: url(/assets/images/hollywood-monsters.jpg.png) no-repeat center center ;
}